.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  margin: 0 auto;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-textField {
  margin: 0 auto;
  width: 400px !important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
